.button {
    -fx-background-color: #5d6f89;
}

.button, .table-view, .table-view .column-header {
    -fx-background-color: #687c68;
}

.button:hover {
    -fx-background-color: #556855;
}

.button .text, .table-view .text {
    -fx-fill: white;
}

.table-row-cell:selected:focused {
    -fx-background-color: #dcdcdc;
}

.table-row-cell .text {
    -fx-fill: black;
}